.photos__container {
  width: 92.5%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  list-style-type: none;
  padding: 0;
  margin: 46px 0 46px 0;
}
