.cards__container {
  max-width: 984px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 46px 0 46px 0;
  padding: 0;
}
