.header__logo {
  display: block;
  width: 176px;
  height: 52px;
  background-image: url(../../../images/russia__logo.svg);
  background-size: contain;
  margin: 0;
}

@media screen and (max-width: 450px) {
  .header__logo {
    width: 142px;
    height: 42px;
  }
}
