.cover__container {
  max-width: 1184px;
  width: 100%;
  min-height: 740px;
  background-image: url(../../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 46px 0 46px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
  color: #fff;
  text-decoration: none;
}

.cover__container::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  /* background-color: rgba(42, 44, 47, 1); */
  background-color: #2A2C2F;
  opacity: .3;
  transition: all .5s;
}

.cover__container:hover::before {
  opacity: .8;
}

@media screen and (max-width: 1184px) {
  .cover__container {
    min-height: 720px;
  }
}

@media screen and (max-width: 1088px) {
  .cover__container {
    min-height: 680px;
  }
}

@media screen and (max-width: 1024px) {
  .cover__container {
    min-height: 640px;
  }
}

@media screen and (max-width: 960px) {
  .cover__container {
    min-height: 600px;
  }
}

@media screen and (max-width: 896px) {
  .cover__container {
    min-height: 560px;
  }
}

@media screen and (max-width: 832px) {
  .cover__container {
    min-height: 520px;
  }
}

@media screen and (max-width: 768px) {
  .cover__container {
    min-height: 480px;
    margin: 44px 0 44px 0;
  }
}

@media screen and (max-width: 704px) {
  .cover__container {
    min-height: 440px;
  }
}

@media screen and (max-width: 640px) {
  .cover__container {
    min-height: 400px;
  }
}

@media screen and (max-width: 576px) {
  .cover__container {
    min-height: 360px;
  }
}

@media screen and (max-width: 512px) {
  .cover__container {
    min-height: 320px;
    margin: 32px 0 32px 0;
  }
}

@media screen and (max-width: 448px) {
  .cover__container {
    min-height: 280px;
  }
}

@media screen and (max-width: 384px) {
  .cover__container {
    min-height: 240px;
  }
}

@media screen and (max-width: 320px) {
  .cover__container {
    min-height: 200px;
  }
}
