.card__text {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
}

.card__text:nth-child(2n) {
  margin-top: 26px;
}

@media screen and (max-width: 768px) {
  .card__text {
    font-size: 16px;
  }
}
