.card__text {
  margin: 26px 0 0 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
}

.card__text:first-of-type {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .card__text {
    font-size: 16px;
  }
}
