.cover__title {
  max-width: 560px;
  width: 100%;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  margin: 0;
  text-align: center;
  z-index: 1;
}

@media screen and (max-width: 650px) {
  .cover__title {
    max-width: 490px;
    font-size: 54px;
    line-height: 1.09;
  }
}

@media screen and (max-width: 540px) {
  .cover__title {
    max-width: 380px;
    font-size: 46px;
    line-height: 1.09;
  }
}

@media screen and (max-width: 450px) {
  .cover__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 1.09;
  }
}
